# virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# generated training outputs / checkpoints / logs
artifacts/
*.pt
*.pth

# dataset files
data/

# notebook junk
.ipynb_checkpoints/

# OS/editor junk
.DS_Store
